@font-face {
  font-family: SpaceGrotesk;
  src: url("fonts/SpaceGrotesk.ttf");
}

*::-webkit-scrollbar {display: none;}
* {-ms-overflow-style: none;
    scrollbar-width: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;}

html, body {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  overscroll-behavior: none;
  overscroll-behavior-x: none;
  width:100vw;
  height: 100vh;
  position:fixed;
  margin: 0;
  padding:0;
  background: #f4f0ec;
}

.wrapper {
  width: 101%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position:fixed;
  overflow-y: hidden !important;
  overflow-x : scroll !important;
  overscroll-behavior: none;
  overscroll-behavior-x: none;
}

.all-projects {
  width: auto;
  height: 100%;
  padding: 0;
  margin:0;
  white-space: nowrap;
  overscroll-behavior: none;
  overscroll-behavior-x: none;
}

.project-spine {
  display: inline-block;
  vertical-align:bottom;
  position: relative;
  width: 70px;
  height: 100%;
  background: #f4f0ec;
  box-shadow: -2px 0px 8px #999;
}

.project-spine-content {
  display: inline-block;
  position: relative;
  width: 95%;
  height: auto;
  padding:0.5em;
}

.title-text {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: 1.5rem;
  padding:0;
  font-family:SpaceGrotesk;
  color:#000;
  text-align: left;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 10% 120%;
  -moz-transform-origin: 10% 120%;
  transform-origin: 10% 120%;
}

.abstract-text {
  display:none;
}

.student-name {
  display:none;
}

.url {
  display:none;
}

.project-spine-img{
  display:none;
}

.all-projects .project-spine.active {
  width: 25vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overscroll-behavior: none;
  overscroll-behavior-x: none;
  background: #00FF7F;
  margin:0;
}

 .all-projects .project-spine.active .project-spine-img {
  display:block;
  width: 50%;
  height: auto;
}

.all-projects .project-spine.active .title-text {
  display:block;
  width:95%;
  margin:0;
  overflow: auto;
  word-break: break-word;
  white-space: normal;
  padding: 10px;
  font-size: 1.5rem;
  color: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.all-projects .project-spine.active .abstract-text {
  display:inline-block;
  margin:0;
  width:95%;
  overflow: auto;
  white-space: normal;
  word-break: break-word;
  font-size: 1rem;
  font-family:SpaceGrotesk;
  color: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.all-projects .project-spine.active .student-name {
  display:block;
  margin:0;
  width:95%;
  overflow: auto;
  white-space: normal;
  word-break: break-word;
  font-size: 1rem;
  font-family:SpaceGrotesk;
  color: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.all-projects .project-spine.active .url {
  display:block;
  margin:0;
  width:95%;
  overflow: auto;
  white-space: normal;
  word-break: break-word;
  font-size: 1rem;
  font-family:SpaceGrotesk;
  color: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  text-decoration:none;
}

.all-projects .project-spine.active .url:hover {
text-decoration:underline;
}


.all-projects .project-spine-always-active {
  width: 25vw;
  height: 100vh;
  display:inline-block;
  vertical-align:bottom;
  height: calc(var(--vh, 1vh) * 100);
  overscroll-behavior: none;
  overscroll-behavior-x: none;
  background: #6495ED;
  margin:0;
}

 .all-projects .project-spine-always-active .project-spine-img {
  display:block;
  width: 50%;
  height: auto;
}

.all-projects .project-spine-always-active .title-text {
  display:block;
  width:95%;
  margin:0;
  overflow: auto;
  word-break: break-word;
  white-space: normal;
  padding: 10px;
  font-size: 1.5rem;
  color: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.all-projects .project-spine-always-active .abstract-text {
  display:inline-block;
  margin:0;
  width:95%;
  overflow: auto;
  white-space: normal;
  word-break: break-word;
  font-size: 1rem;
  font-family:SpaceGrotesk;
  color: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
