@font-face {
  font-family: Neue-Machina;
  src: url("fonts/Neue-Machina/NeueMachina-Regular.otf");
}
@font-face {
  font-family: Neue-MachinaBold;
  src: url("fonts/Neue-Machina/NeueMachina-Ultrabold.otf");
}
@font-face {
  font-family: Neue-MachinaLight;
  src: url("fonts/Neue-Machina/NeueMachina-Light.otf");
}

html{
  overflow-x: hidden;
}

*{
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin:0;
  overscroll-behavior: none;
  overscroll-behavior-y: none;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

*::-webkit-scrollbar {
      display: none;
      -webkit-appearance: none;
      width: 0 !important;
      background: transparent;
  }

body {
  max-width: 95vw;
  height:1200px;
  margin:0 auto;
  padding-bottom: 1vw;
}


#reveal1, #reveal2, #reveal3  {
  opacity: 0;
  position:absolute;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#reveal1.visible, #reveal2.visible, #reveal3.visible  {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

#reveal1 {top:180vh;}
#reveal2 {top:350vh;}
#reveal3 {top:400vh;}

.cross, .crosstwo, .crossthree {
  color: #000;
  float: center;
  margin-left:47.5vw;
  font-size: 2rem;
}


.title{
  font-family:Neue-MachinaBold;
  font-size: 5rem;
  line-height:2.5rem;
  padding:0.5em;
}

.title-two{
  font-family:Neue-MachinaBold;
  font-size: 5rem;
  line-height:2.5rem;
  padding:0.5em;
  float:left;
}
 
.subtitle{
  font-family:Neue-MachinaLight;
  font-size: 0.9rem;
  line-height:1.1rem;
  padding:0.2em;
}

#titleImg{
  width:40vw;
  padding-bottom:1rem;
  padding-right:3vw;
  padding-left:11vw;
  top:0;
  left:0;
  float:right;
}


.chapter-title{
  padding-top:1vh;
  padding-bottom:1vh;
  /*padding-left:15vw;*/
  font-family:Neue-Machina;
  font-size: 3rem;
  line-height:3.2rem;
}


.body-text{
  width:70%;
  padding-left:20vw;
  font-family:Neue-MachinaLight;
  font-size: 1rem;
  line-height:1.4rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.footnote {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration-line: underline;
    text-decoration-color: #FF0000;
    text-decoration-style: wavy;
}

.footnote:hover .footnotetext {
    visibility: visible;
}

.footnote .footnotetext {
    visibility: hidden;
    width:80%;
    padding:0.5rem;
    border-radius: 6px;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 1;
    background-color: #000;
    opacity: .8;
    color: #fff;
    font-family:Neue-MachinaLight;
    font-size:0.8rem;
    line-height:1.2rem;

}


.bodyfig{
  width:100%;
}

.body-text-img{
  width:95%;
  float:left;
  background:blue;
}

#fig-caption{
  width:95%;
  padding-bottom:1rem;
  font-family:Neue-MachinaLight;
  font-size:0.7rem;
  line-height:1rem;
  text-indent:0;
}


.layertwo{
  position:absolute;
  z-index:10;
  height:0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  grid-auto-rows: auto;
  padding:1vw;
}


#one {
  grid-column: 1 / 5;
  grid-row: 1;
  height:auto;
  padding-top:1.5vh;
  margin-top:0;
  background:#fff;
  border-bottom: 1px solid #000;
}

#one-title {
  grid-column: 1 / 4;
  grid-row: 2;
  height:auto;
  padding-top:0;
  margin-top:0;
}

.two {
  grid-column: 4 / 5;
  grid-row: 2;
  height:auto;
  padding-top:0;
  margin-top:0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index:6;
}


#indexImg{
  width: 50%;
  padding:1rem;
  padding-left:11.5vw;
  padding-bottom:0;
}


.myIndex {
  display: none; 
  position: fixed; 
  padding-top: 5vh;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  margin:auto;
  overflow: auto; 
}


.index-content {
  background-color: #000;
  opacity: .7;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 6px;
  margin:1em;
  width: 95%;
}


.index-content:hover {
  opacity: 1;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .myIndex {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }


.index-title{
  font-size: 1em;
  font-family: Neue-Machina;
  text-decoration: none;
  color:#fff;
  animation: blinker 5s linear infinite;
  cursor: crosshair;
}

.index-title:hover{
  text-decoration:underline;
}

.index-title:focus{
  text-decoration:underline;
}



.close {
  color: #000;
  float: center;
  margin-left:47.5vw;
  font-size: 2rem;
}


#three {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background:#fff;
  z-index:2;
}


#four {
  grid-column: 1 / 5;
  grid-row: 3;
  height:auto;
  padding-top:0;
  margin-top:0;
}


#five {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background:#fff;
  z-index:2;
}


#six {
  grid-column: 1 / 5;
  grid-row: 6;
  height:auto;
  padding-top:0;
  margin-top:0;
}
